@{
    ViewBag.Title = "Create Site";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="boxed-group-inner">
    <br />
    <center>
        <h2>
            <span id="lblMsg">@ViewBag.Msg</span>
            <br />
            <br />
            <a href="@ViewBag.Url" target=_blank>@ViewBag.Url</a> 
            
        </h2>
    </center>
    <br />
</div>
