<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GiftRModel" connectionString="metadata=res://*/GiftRModel.csdl|res://*/GiftRModel.ssdl|res://*/GiftRModel.msl;provider=System.Data.SqlClient;provider connection string='data source=.\SQLEXPRESS;attachdbfilename=&quot;C:\Users\javsolis\Documents\Visual Studio 2010\Projects\Polaroid\OAuthClient\App_Data\GiftRDB.mdf&quot;;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>